<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>index</title>
</head>
<body>

<div class="topnav">
    <input id="searchField" type="text" placeholder="Search..">
    <button onclick="searchWithField()">Search</button>
    <ul id="searchResult"></ul>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

   let joblist = []

            $.ajax({
                url: "http://3.236.216.244:9090/jobs",

                success: function (result) {
                    console.log(result);
                    $.each(result, function (key, value) {
                        joblist.push(value["jobscol"]+"<br><br>")

                    })
                    $("#searchResult").html(joblist)

                }
            })
                    console.log(joblist)

        function makeUL(array) {

        const list = document.createElement('ul');
        for (let i = 0; i < array.length; i++) {

            const item = document.createElement('li');

            item.appendChild(document.createTextNode(array[i]['idjobs'] + ", category: " + array[i]['jobscol']));
            list.appendChild(item);

        }
        return list;

    }
    document.getElementById('searchResult').appendChild(makeUL(joblist));

        function searchWithField() {
        let ul = document.getElementById('searchResult')
        let field = document.getElementById('searchField')
        let searchString = field.value
        let jobs = search(searchString)

        ul.innerHTML = "";
        jobs.forEach(job => {
            let li = document.createElement('li')
            li.innerText = `${job}`
            ul.appendChild(li)
        })
    }

    function search(searchString){
        if (typeof searchString !== 'string' || searchString.length === 0){
            return jobs;
        }

        let searchLower = searchString.toLowerCase()
        return jobs.filter(job => {
            if (job.toLowerCase().includes(searchLower)) {
                return true
            }

            if (job.category.toLowerCase().includes(searchLower)){
                return true
            }

        })
    }



</script>

<nav aria-label="...">
   <ul class="pagination">
       <li class="page-item disabled">
           <a class="page-link" href="#" tabindex="-1">Previous</a>
       </li>
       <li class="page-item"><a class="page-link" href="#">1</a></li>
       <li class="page-item active">
           <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
       </li>
       <li class="page-item"><a class="page-link" href="#">3</a></li>
       <li class="page-item">
           <a class="page-link" href="#">Next</a>
       </li>
   </ul>
</nav>


</html>