<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>index</title>
</head>
<body>
<div class="topnav">
    <input id="searchField" type="text" placeholder="Search..">
    <button onclick="searchWithField()">Search</button>
    <ul id="searchResult"></ul>
</div>

<div>
    <div id="list"></div>
</div>
</body>
<script>
    const jobs = [
        {
            'name': 'CTO',
            'category': 'IT'
        },
        {
            'name': 'Software Developer',
            'category': 'IT'
        },
        {
            'name': 'Carpenter',
            'category': 'Physical'
        },
        {
            'name': 'Chef',
            'category': 'Food'
        }]

    console.log(jobs)

    function makeUL(array) {

        const list = document.createElement('ul');
        for (let i = 0; i < array.length; i++) {

            const item = document.createElement('li');

            item.appendChild(document.createTextNode(array[i]['name'] + ", category: " + array[i]['category']));
            list.appendChild(item);

        }
        return list;

    }
    document.getElementById('searchResult').appendChild(makeUL(jobs));

    function searchWithField() {
        let ul = document.getElementById('searchResult')
        let field = document.getElementById('searchField')
        let searchString = field.value
        let jobs = search(searchString)

        ul.innerHTML = "";
        jobs.forEach(job => {
            let li = document.createElement('li')
            li.innerText = `${job.name}, Category: ${job.category}`
            ul.appendChild(li)
        })
    }

    function search(searchString){
        if (typeof searchString !== 'string' || searchString.length === 0){
            return jobs;
        }

        let searchLower = searchString.toLowerCase()
        return jobs.filter(job => {
            if (job.name.toLowerCase().includes(searchLower)) {
                return true
            }

            if (job.category.toLowerCase().includes(searchLower)){
                return true
            }

        })
    }
</script>
</html>